* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    min-height: 200vh;
}
.outer-container {
    border: 3px dashed #000;
    width: 35vw;
    height: 125vh;
    margin: 40px auto;
    position: relative;
}
.inner-container {
    border: 2px solid limegreen;
    width: 20vw;
    height: 55vh;
    margin: 200px auto;
}
.box {
    width: 150px;
    height: 150px;
    color: antiquewhite;
    padding: 1rem;
}
.absolute {
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.relative {
    background-color: green;
    position: relative;
    top: 200px;
    left: 85px;
}
.fixed {
    background-color: red;
    position: fixed;
    top: 80px;
    left: 500px;
}
.sticky {
    background-color: black;
    position: sticky;
    top: 80px;
    left: 500px;
}